#title{
    /* background-color: #F55050; */
    background-color: #Ff4c68;
    color: white;
}
body{
    font-family: 'Montserrat';
}
h1{
    /* font-family: 'Montserrat-black'; */
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
}
h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}
.container-fluid
{
    padding: 3% 15%;
}
.icon
{
    color: #ef8172; 
    margin-bottom: 1rem;
}
.icon:hover{
    color: red;
}
.feature-box
{
    text-align: center;
    padding: 5%;
}

#features{
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

/*navigation bar*/
.navbar {
padding:0 0 4.5rem;
}

.navbar-brand
{
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item
{
    padding: 0 18px;
}
.nav-link
{
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}
/*--download button--*/
.download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-image
{
    width: 18%;
    transform: rotate(25deg);
    right:23%;
    position: absolute;
}
/* testimonial section */
#testimonials
{
    /* padding:7% 15%; */
    text-align: center;
    background-color: #ef8172;
    color:#ffffff;

}
.testimonials-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* carousel-item */
.carousel-item
{
    padding:7% 15%;
}
/* pricing */
#pricing
{
    padding:100px;
    text-align: center;
}
.pricing-column
{
    padding: 3% 2%;
}
@media (max-width:1028px)
{
    #title{
        text-align: center;
    }
.title-image{
    position: static;
    transform: rotate(0); /*0 since position is static*/
}
}
#cta
{
    background-color: #Ff4c68;
    text-align: center;
    padding: 7% 15%;
    
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}
